/*
Index:

      Name                      Description
  - Overrides           Overrides bootstrap css
  - Home Page Design    Changes the homepage design
  - Profile             Users profile page
  - Nav e footer
*/


:root {
  --lilac:#843ace;
  --blilac: #A055EC;
  --white: #ffffff;
  --dark: #1B1E2C;
}

* {
  margin:0%;
}

body {
  background-color: var(--dark);
  color: var(--blilac);
}

ul{
  list-style-type: none;
}

.dropdown-menu-dark{
  background-color: var(--blilac);
}

.dropdown-toggle{
  display: inline-flex;
}

#content label {
  font-weight: normal;
}

#content > form {
  margin: 0 auto;
  padding: 1em;
  border: 1px solid --blilac;
}

#content > form .error {
  font-weight: bold;
  color: #ff3333;
}

#content > form input {
  background-color: white;
}

@media (max-width: 70em) {
  main > header {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  main > header h1 {
    grid-row-end: span 2;
  }
}

@media (max-width: 25em) {
  body {
    margin: 0;
  }
  main > header {
    margin: 0;
    padding: 0.5em;
  }
  main > header span {
    margin: 0;
  }

}

/**
 * Overide milligram colors
 * Some styles might be missing
 **/
button {
  background-color: var(--lilac);
  border-color: var(--lilac);
}

a.button {
  background-color: var(--lilac);
  border-color: var(--lilac);
}

a.button.button-outline {
  color: var(--lilac);
}

a {
  color: var(--lilac);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: var(--lilac);
}


.items {
  display: flex;
}

.items > a {
  width: 10em;
  padding: 25px 0;
  margin: 1em;
  border: 2px solid var(--lilac);
  border-radius: 1em;
  text-align: center;
}

.page_name{
  font-size: 35px;
  font-weight: bold;
}

#content {
  margin: 3em;
}

.search_bar  {
  position: relative;
}

.search_bar > i {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: 12px;
  width: 20px;
}

.search_bar > input {
  padding: 5px 22px 5px 22px;
  border-color: var(--lilac);
}

article.tu-do-popup {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  z-index: 10;
  min-width: 15em;
  flex-direction: column;
  border: 3px solid white;
  color: white;
  background-color: #897fff;
}
article.tu-do-popup > section {
  text-align: center;
  display: flex;
  min-height: 3em;
  flex-direction: column;
  justify-content: center;
}
article.tu-do-popup p {
  margin: 0px;
}
article.tu-do-popup > header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
article.tu-do-popup > header > button {
  margin: 0;
  width: 2em;
  background-color: grey;
  color: black;
}
article.tu-do-popup > header[information] {
  background-color: lightblue;
}

article.tu-do-popup > header[error] {
  background-color: red;
}

article.tu-do-popup > header[success] {
  background-color: green;
}

article.tu-do-popup[opening] {
  animation: slide-up 500ms ease-out, fade-in 700ms;
}

article.tu-do-popup[closing] {
  animation: slide-down 500ms ease-out, fade-out 700ms;
}

article.tu-do-popup.closed {
  display: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

article.tu-do-popup {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 0;
  z-index: 10;
  min-width: 15em;
  flex-direction: column;
  border: 3px solid white;
  color: white;
  background-color: #897fff;
}
article.tu-do-popup > section {
  text-align: center;
  display: flex;
  min-height: 3em;
  flex-direction: column;
  justify-content: center;
}
article.tu-do-popup p {
  margin: 0px;
}
article.tu-do-popup > header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
article.tu-do-popup > header > button {
  margin: 0;
  width: 2em;
  background-color: grey;
  color: black;kkkkkkk
}
article.tu-do-popup > header[information] {
  background-color: lightblue;
}

article.tu-do-popup > header[error] {
  background-color: red;
}

article.tu-do-popup > header[success] {
  background-color: green;
}

article.tu-do-popup[opening] {
  animation: slide-up 500ms ease-out, fade-in 700ms;
}

article.tu-do-popup[closing] {
  animation: slide-down 500ms ease-out, fade-out 700ms;
}

article.tu-do-popup.closed {
  display: none;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/*
Nav e footer
*/

.container-nav *.navbar-butto, .container-nav *.navbar-brand, .navbar-toggler{
  margin: 0 10px;
}

.nav-link, .navbar-brand{
  color:var(--blilac)
}

.pfp-nav{
  width: 25px;
  height: 25px;
  position: relative;
}

.pfp-nav > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: relative;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 0.7%;
   text-align: center;
}

footer a {
    color:  #A055EC;
    margin-inline: 2%;
}


/*
Overrides
*/

.btn{
background-color: var(--blilac);
}

.btn-primary{
  background-color: var(--blilac);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--blilac);
  --bs-btn-border-color: var(--blilac);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--lilac);
  --bs-btn-hover-border-color: var(--lilac);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--lilac);
  --bs-btn-active-border-color: var(--lilac);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--blilac);
  --bs-btn-disabled-border-color: var(--blilac);
}

a{
  text-decoration: none;
}

/*
Home Page Design
*/

.home-bg .container-nav{
  display: none;
}

.home-bg{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-bg #info{
  display: grid;
  grid-template-columns: auto 1fr ;
  gap: 20px;
  grid-auto-rows: auto;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.home-bg #info #img{
  grid-column: 1;
  grid-row: 1;
  margin: auto;
}

.home-bg #info h1{
  font-size: 70px;
  font-family: 'Nunito';
  font-weight: bold;
  color: #9832a5;
  grid-column: 1;
  grid-row: 2;
}

.home-bg #info h2{
  grid-column: 1;
  grid-row: 3;
}

.home-bg #info #create{
  grid-column: 1;
  grid-row: 4;
}
.home-bg #info #login{
  grid-column: 1;
  grid-row: 5;
}

.home-bg #info .btn-primary{
  max-width: 300px;
  max-height: fit-content;
  align-items: center;
  text-align: center; 
}

/*
Profile
*/
.profile-bg .pfp{
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  box-shadow: 4px 6px 0 #a055ec4f;
  margin: 30px 0px;
}
.profile-bg .pfp > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: var(--blilac);
  position: relative;
}
.profile-bg #contacts{
  margin: 0;
}
.profile-bg #contacts li{
  text-decoration: none;
  margin:10px 0px;
}
.profile-bg{
  display: block;
}
.profile-bg #user-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "pic button"
  "contact todo";
}
.profile-bg .pfp{
  grid-area: pic;
}
.profile-bg #contacts{
  grid-area: contact;
}
.profile-bg .right{
  grid-area: button;
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  position: absolute;
  right: 0;
  margin: 0px 30px;
}
.profile-bg .right>*{
  margin: 5px;
}
.profile-bg .todo{
  grid-area: todo;
  background-color: #7c24882e;
  border-style: solid;
  border-radius: 10px;
}


/*
Login
*/
.login-bg #login-form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-bg #login-form2{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-bg .form-auth .form-row *{
  width: 100%;
}

.login-bg h1, #logo{
  text-align: center;
}


.login-bg #register-now{
  text-decoration: underline;
  font-weight: bold;
  color: rgb(235, 185, 21);
  break-before: auto;
}

/*
Register
*/
.reg-bg #login-form{
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
}

.reg-bg #login-form2{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reg-bg .form-auth .form-row *{
  width: 100%;
}

.reg-bg h1, #logo{
  text-align: center;
}

.reg-bg #login-now{
  text-decoration: underline;
  font-weight: bold;
  color: rgb(235, 185, 21);
  break-before: auto;
}