.board{
   margin:3%;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 10px;
   grid-auto-rows: minmax(100px, auto);
}
.vertical{
    border-style: solid; 
    border-radius: 10px;
    text-align: center;
}
.task-name{
    font-size: 20px;
}
.task-description{
    font-size: 15px;
    margin-left: 5%;
}

h3{
    margin: 3%;
    border-style: solid;
    padding: 1%;
    border-radius: 10px;
}
.label-container{
    margin: 3%;
    display: inline-flex;
}
.comment-container{
    margin-left: 3%; 
}
.task-name{
    padding: 5%;
}
.label-tag{
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    font-weight: bolder;
}
.label-tag p{
    border-style: solid;
    border-radius: 5px;
    padding: 0 10 0 10;
    font-weight: bold;
}
#vertical_name{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
